<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Todoリスト</ion-title>
      <ion-buttons slot="start">
        <ion-button (click)="openMenu()"><ion-icon name="reorder-three-outline"></ion-icon></ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <!-- <ion-content padding> -->
    <ion-searchbar></ion-searchbar>
    <div class="ion-padding">
      <ion-button expand="block" fill="outline" (click)="presentModal()">リストの追加</ion-button>
    </div>
    <ion-list>
      <ion-item-sliding *ngFor="let item of items">
        <ion-item>
          <div class="ion-padding">
            <h5>{{item.title}}</h5>
            <h5>{{item.title}}</h5>
          </div>
          <ion-checkbox slot="start" color="light" [(ngModel)]="item.isChecked" (ionChange)="updateCucumber(item)"></ion-checkbox>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="danger" expandable>
            <button ion-button color="clear" expandable (click)="deleteItem(item)">Delete</button>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  <!-- </ion-content> -->
</ion-content>