<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>API通信</ion-title>
      <ion-buttons slot="start">
        <ion-button (click)="openMenu()"><ion-icon name="reorder-three-outline"></ion-icon></ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content padding class="News">
    <ion-list>
      <ion-item *ngFor="let i of items" [navPush]="'ArticlePage'" [navParams]="{ index: i }" class="news">
        <div>
            <h4>{{i.title}}</h4>
            <p>{{i.pubDate}}</p>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-content>
