<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>リストに追加</ion-title>
      <ion-buttons slot="end">
          <ion-button (click)="close()"><ion-icon name="close"></ion-icon></ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content padding>
    <div class="ion-padding" align="center">
      <!-- <ion-item> -->
        <!-- <ion-label>InputText</ion-label> -->
        <input #box (keyup.enter)="onEnter(box.value)">
      <!-- </ion-item> -->
    </div>
    <div class="ion-padding" align="center">
      <p>{{values}}</p>
      <ion-button (click)="close()">追加する</ion-button>
    </div>
  </ion-content>
</ion-content>


