<ion-header>
  <ion-toolbar color="primary">
    <ion-title>詳細</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="open()"><ion-icon name="close"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
</ion-content>

<!-- <ion-tab-bar slot="bottom" color="primary">
  <ion-tab-button tab="account">
    <ion-button (click)="close()"><ion-icon name="caret-back-outline"></ion-icon></ion-button>
  </ion-tab-button>
  <ion-tab-button tab="contact">
    <ion-icon name="call"></ion-icon>
  </ion-tab-button>
  <ion-tab-button tab="settings">
    <ion-icon name="settings"></ion-icon>
  </ion-tab-button>
</ion-tab-bar> -->
